@import "./primitives.css";
@import "./semantic.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--sds-color-bg);
  color: var(--sds-color-text);
  font-family: var(--sds-font-sans);
  font-size: var(--sds-font-size-md);
  line-height: var(--sds-line-height-normal);
  -webkit-font-smoothing: antialiased;
}
